@page "{date?}"
@using System.Globalization;
@model MMFinancial.Web.Pages.Transactions.DetailModel
@{
}

<abp-card>
    <abp-card-header>
        <h3>Trasaction Details</h3>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column>
               <p><font size="4"><b>Trasaction Date:</b> @Model.Transactions.First()._DateTime.ToString("dd/MM/yyyy")</font></p>
                <p><font size="4"><b>Creator: </b>@Model._User.UserName</font></p>
                <p><font size="4"><b>Uploaded in:</b> @Model.Transactions.First().CreationTime.ToString("dd/MM/yyyy HH:mm:ss")</font></p>
            </abp-column>
        </abp-row>
        <br />
        <abp-row>
            <abp-column>
                <abp-table>
                    <thead>
                        <tr>
                            <td colspan=3> Origin </td>
                            <td colspan=1 style="border: none"> </td>
                            <td colspan=3> Destiny </td>
                        </tr>
                        <tr>
                            <th scope="Column">Bank</th>
                            <th scope="Column">Account</th>
                            <th scope="Column">Agency</th>
                            <th scope="Column"></th>
                             <th scope="Column">Bank</th>
                            <th scope="Column">Account</th>
                            <th scope="Column">Agency</th>
                            <th scope="Column"></th>
                            <th scope="Column">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach( var Transaction in Model.Transactions){
                            <tr>
                                <td>@Transaction.BankFrom</td>
                                <td>@Transaction.AccountFrom</td>
                                <td>@Transaction.AgencyFrom</td>
                                <td></td>
                                <td>@Transaction.BankTo</td>
                                <td>@Transaction.AccounTo</td>
                                <td>@Transaction.AgencyTo</td>
                                <td></td>
                                <td>@Transaction.Value.ToString("C2", new CultureInfo("en-US"))</td>
                            </tr>
                            }
                    </tbody>
                </abp-table>
            </abp-column>
        </abp-row>

    </abp-card-body>
</abp-card>