@page
@using System.Globalization;
@using MMFinancial.Web.Pages.Transactions
@model MMFinancial.Web.Pages.Transactions.SuspectModel
@{
}



<abp-card>
    <abp-card-header>
        <h3>Suspect Transactions Analysis</h3>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column>
                 <form method="post">
                    <h5>Choose a motnh to analyze:</h5>
                      <abp-input asp-for="_Date" type="month"></abp-input>
                    <button type="submit">Search</button>
                </form>
            </abp-column>
        </abp-row>

    </abp-card-body>

    @if (Model.Request.Method == "POST"){
        <abp-card-body>
        <abp-row>
            <abp-column>
                  <h5>Suspect Transactions</h5>
                    
    
            </abp-column>
        </abp-row>

        <abp-row>
            <abp-column>
                <abp-table>
                    <thead>
                        <tr>
                            <th scope="Column">Bank</th>
                            <th scope="Column">Account</th>
                            <th scope="Column">Agency</th>
                             <th scope="Column">Bank</th>
                            <th scope="Column">Account</th>
                            <th scope="Column">Agency</th>
                            <th scope="Column">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach( var Transaction in Model.Transactions){
                            <tr>
                                <td>@Transaction.BankFrom</td>
                                <td>@Transaction.AccountFrom</td>
                                <td>@Transaction.AgencyFrom</td>
                                <td>@Transaction.BankTo</td>
                                <td>@Transaction.AccounTo</td>
                                <td>@Transaction.AgencyTo</td>
                                <td>@Transaction.Value.ToString("C2", new CultureInfo("en-US"))</td>
                            </tr>
                            }
                    </tbody>
                </abp-table>
            </abp-column>
        </abp-row>
         </abp-card-body>
    }

</abp-card>
