@page
@using MMFinancial.Web.Pages.Transactions
@model MMFinancial.Web.Pages.Transactions.UploadModel

@section scripts{
<abp-script src="/Pages/Transactions/Upload.js" />
}

<abp-card>
    <abp-card-header>
        <h3>Tractions File Upload</h3>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column>
                <form method="post" enctype="multipart/form-data">
                    @if (Model.EmptyFile)
                    {
                        <div class="alert alert-danger" role="alert">
                            Choose a non empty file !
                        </div>
                    }
                    @if (Model.AlreadyUploadedDate)
                    {
                        <div class="alert alert-danger" role="alert">
                            Transactions from this day are already uploaded !
                        </div>
                    }
                    <div hidden>
                        <abp-input asp-for="UploadFileDto.Name"></abp-input>
                    </div>
                    <abp-input asp-for="UploadFileDto.File"></abp-input>

                    <input type="submit" class="btn btn-info" />
                </form>
            </abp-column>
        </abp-row>
        <br />
        <abp-row>
            <abp-column>
                <abp-card-header>
                    <h3>Uploads History</h3>
                </abp-card-header>
                <abp-table>
                    <thead>
                        <tr>
                            <th scope="Column">Trasaction Date</th>
                            <th scope="Column">Upload Date</th>
                            <th scope="Column"></th>
                            <th scope="Column"></th>
                            <th scope="Column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var upload in Model.UploadsList.OrderByDescending(i => i.TransactionDate))
                        {
                            <tr id="@upload.Id" >
                                <td>@upload.TransactionDate.ToString("dd/MM/yyyy")</td>
                                <td>@upload.UploadDate.ToString("dd/MM/yyyy")</td>
                                <td><a style="color:blue" href="/Transactions/Detail/@upload.TransactionDate.ToString("MM-dd-yyyy")">Details</a></td>
                                <td>
                                    <form id="DownloadFile">
                    <div class="form-group">
                         <input hidden type="text" id="fileName" name="fileName" class="form-control " value="@upload.FileName">
                        <input  style="text-decoration: underline; color:blue; background:none; border:none" type="submit" value="Download" /> 
                        
                    </div>
                      </form>

                                </td>

                                <td>
                                    <form id="DeleteFile">
                    <div class="form-group">
                         <input hidden type="text" id="uploadId" name="dateDelete" class="form-control " value="@upload.Id">
                         <input hidden type="text" id="fileName" name="dateDelete" class="form-control " value="@upload.FileName">
                        <input  style="text-decoration: underline; color:blue; background:none; border:none" type="submit" value="Delete" /> 
                    </div>                        
                      </form>

                                </td>

                            </tr>
                        }
                    </tbody>
                </abp-table>
            </abp-column>
        </abp-row>

    </abp-card-body>
</abp-card>